.new-job-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

input,
textarea,
select {

  color: darkgrey;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  /* margin: 10px; */
  width: 70%;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}



#add-job-button {
  grid-column-start: 2;
  width: 35%;
}

